<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item class="ion-activated" style="display: flex;">
    <ion-card-subtitle style="margin: auto;">Create Awareness</ion-card-subtitle>
    
  </ion-item>

  <ion-card-content style="background: #00B0FF;">
    Lorem ipsum dolor sit, amet consectetur adipisicing
     elit. Recusandae, tempora similique culpa voluptates
      officiis ab tenetur at necessitatibus, ducimus placeat 
      distinctio odit
     rerum id dolores? Animi quaerat laboriosam itaque sint.
  </ion-card-content>
</ion-card>

<ion-card style="background: #04091e;">
  <ion-item class="ion-activated" style="display: flex;">
    <ion-card-subtitle style="margin: auto;">Create Platform to Allow People Air their Views</ion-card-subtitle>

  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, tempora similique culpa voluptates officiis ab tenetur
    at necessitatibus, ducimus placeat distinctio odit rerum id dolores? Animi quaerat laboriosam itaque sint.
  </ion-card-content>
</ion-card>
<ion-card style="background: #00B0FF;">
  <ion-item class="ion-activated" style="display: flex;">
    <ion-card-subtitle style="margin: auto;">Help In ... I dunno</ion-card-subtitle>

  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, tempora similique culpa voluptates officiis ab tenetur
    at necessitatibus, ducimus placeat distinctio odit rerum id dolores? Animi quaerat laboriosam itaque sint.
  </ion-card-content>
</ion-card>
<ion-card style="background: #04091e;">
  <ion-item class="ion-activated" style="display: flex;">
    <ion-card-subtitle style="margin: auto;">Create Awareness</ion-card-subtitle>

  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, tempora similique culpa voluptates officiis ab tenetur
    at necessitatibus, ducimus placeat distinctio odit rerum id dolores? Animi quaerat laboriosam itaque sint.
  </ion-card-content>
</ion-card>

<!-- Footer section -->
<ion-row class="footer">
  <ion-col size="12">
    <ion-card class="footerContent" style="background: #04091e;">

      <ion-card-content>
        <p style="color: #00B0FF">CONTACT INFORMATION</p>
        <ion-list style="align-content: center; text-align: center; background: #04091e;">
          <ion-icon name="pin"></ion-icon>&nbsp;No. 6 Iyana Mortuary, Adatan, Ewekoro road</ion-list>
        <ion-list style="align-content: center; text-align: center; background: #04091e;">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;info.insight@gmail.com</ion-list>
        &nbsp; &nbsp;

      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12">
    <ion-card class="footerContent" style="background: #04091e;">

      <ion-list style="align-content: center; background: #04091e; text-align: center;">
        <p style="color:#00B0FF;"> SOCIAL NETWORKS</p>
        <ion-icon name="logo-twitter" style="font-size: 50px; color: #00acee;">
          <a href="#"></a>
        </ion-icon>&nbsp;
        <ion-icon name="logo-facebook" style="font-size: 50px; color:#3b5998;">
          <a href="#"></a>
        </ion-icon>
      </ion-list>
    </ion-card>
  </ion-col>
  <ion-note style="color: white; font-size: 15px; margin: auto; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">&copy; INSIGHT 2020</ion-note>
</ion-row>
</ion-content>
