<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Insight Logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="myslide">
    <ion-slides #slides pager="true" >
      <ion-slide class="step-one">
        <img src="../../../assets/image/account.png" /><p>Lorem ipsum dolor sit</p><br/>
        
      </ion-slide>

      <ion-slide class="step-two">
        <img src="../../../assets/image/applied.png" /><br/>
        <p>Lorem ipsum dolor sit</p>
      </ion-slide>

      <ion-slide class="step-three">
        <img src="../../../assets/image/avacourse.png" /><br/>
        <p>Lorem ipsum dolor sit,</p>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid class="home">
    <ion-row class="who">
      <h3>World Health Organisation Says : "waiting For FM "</h3>
    </ion-row>

    <ion-row>
      <ion-col class="col" size="12" size-sm="12" col-md="12" col-lg="6" col-xl="6" col-xs="6" >
        <h2 class="sym"><b>Things To Note About The Novel COVID-19</b></h2>
        <h6 style="font-size:12px;">Be vigilant and Take Note Any Strange Within Your Body System </h6>
        <br>
        <ion-list class="symli">
          <li>TIREDNESS</li>
          <br/>
          <li>FEVER</li>
          <br/>
          <li>DRY COUGH</li>
          <br/>
          <li>FLU</li>
          <br/>
          <li>SORE THROAT</li>
          <br/>
          <li>ACHES AND PAIN</li>
          <br/>
          <li>RUNNING NOSE</li>
          
        </ion-list>

      </ion-col>
      &nbsp;
      <ion-col class="pandemic" size="12" size-sm="12" col-md="12" col-lg="6" col-xl="6" col-xs="6">
        <img src="../../../assets/image/pandemic.png" />
      </ion-col>
    </ion-row>

    
    <ion-row class="safety" size="4">
      <h2 style="color: white; background: #04091e; border-radius: 3px; padding: 10px;">Things To Do To Ensure Safety</h2>
      <ion-card>
        <ion-card-header style="text-align: center;">
          <ion-card-title>Personal Hygiene</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Modi numquam quod nemo, obcaecati quasi a sapiente! In ipsum natus
          harum dignissimos praesentium magni est veniam necessitatibus, 
          fugit quaerat mollitia libero.
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="safety" size="4">
      <ion-card>
        <ion-card-header style="text-align: center;">
          <ion-card-title>Staying Fit</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam quod nemo, obcaecati quasi a sapiente! In ipsum natus
          harum dignissimos praesentium magni est veniam necessitatibus, fugit quaerat mollitia libero.
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="safety" size="4">
      <ion-card>
        <ion-card-header style="text-align: center;">
          <ion-card-title>Dalanced Diet</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam quod nemo, obcaecati quasi a sapiente! In ipsum natus
          harum dignissimos praesentium magni est veniam necessitatibus, fugit quaerat mollitia libero.
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="light">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <a href="https://api.whatsapp.com/send?phone=2348130069043&text=how%20can%20i%20be%20of%20help"></a>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid>
    <ion-row class="abt_insight">
       
      <ion-card>
        <ion-card-header>
          <ion-card-title>What INSIGHT is All About</ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding: 5px;">Waiting For FM Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quia illo optio sequi labore laboriosam blanditiis doloremque enim 
          vitae excepturi! Molestiae, distinctio. A dicta fugit debitis, provident 
          ab eligendi similique numquam!</ion-card-content>
      </ion-card>
    </ion-row>
    
    <!-- Footer section -->
    <ion-row class="footer">
      <ion-col size="12">
        <ion-card class="footerContent" style="background: #04091e;">
          
          <ion-card-content>
            <p style="color: #00B0FF">CONTACT INFORMATION</p>
            <ion-list style="align-content: center; text-align: center; background: #04091e;"><ion-icon name="pin"></ion-icon>&nbsp;No. 6 Iyana Mortuary, Adatan, Ewekoro road</ion-list>
            <ion-list style="align-content: center; text-align: center; background: #04091e;">
              <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;info.insight@gmail.com</ion-list>
              &nbsp; &nbsp;
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="footerContent" style="background: #04091e">
          <p style="color:#00B0FF;"> SOCIAL NETWORKS</p>
          <ion-list style="align-content: center; background: #04091e; text-align: center;">
            <ion-icon name="logo-twitter" style="font-size: 50px; color: #00acee;"><a href="#"></a></ion-icon>&nbsp;
            <ion-icon name="logo-facebook" style="font-size: 50px; color:#3b5998;"><a href="#"></a></ion-icon>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-note style="color: white; font-size: 15px; margin: auto; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">&copy; INSIGHT 2020</ion-note>

    </ion-row>

  </ion-grid>
  
  
</ion-content>
